<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema PHP</title>
</head>
<body>
    <h1>Casdastro de produto</h1>
    <form action="cadastro.php" method="post">
        <label>Nome do produto</label>
        <input type="text" name="Nome"><br><br>

        <label>Quantidade:</label>
        <input type="number" min="0" name="quantidade"><br><br>

        <label>Valor unitário:</label>
        <input type="number" min="0" name="valor"><br><br>

        <input type="submit" value="Cadastrar produto">
    </form><br>


</body>
</html>